# Proxmox API host URL
pm_api_url: https://<api_host>:8006/api2/json
## For user and password authentication
# Proxmox user (e.g. root@pam)
pm_user: <api_user>
# Proxmox password
pm_password: <api_password>
## For token and secret authentication
# Proxmox token id
pm_api_token_id: <api_token_id>
# Proxmox token secret
pm_api_token_secret: <api_token_secert>
# Root password
root_password: <root_password>
# Cloud-init user (i.e. terraform) password
user_password: <user_password
# ssh authorized keys for terraform and ansible
ssh_authorized_keys: |